<head>
    <title>Async Inn</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Marvel" rel="stylesheet">
</head>

<body>
    <div class="banner">
        <img src="~/AsyncInnLogo.png" width="150" height="150"/>
        <h1>"Come and go as you please. Or whatever."</h1>
    </div>

    <nav class="menu">
        <a href="/Home">Home <span class="arrow">&#709;</span></a>
        <a href="/Hotels">Hotels <span class="arrow">&#709;</span></a>
        <a href="/HotelRooms">Hotel Rooms <span class="arrow">&#709;</span></a>
        <a href="/Amenities">Amenities <span class="arrow">&#709;</span></a>
        <a href="/Rooms">Room Types<span class="arrow">&#709;</span></a>
        <a href="/RoomAmenities">Room Amenities <span class="arrow">&#709;</span></a>
    </nav>
</body>

