<h1>Welcome to AsyncInn</h1>

<nav>
    <a href="/Home">Home</a>
    <a href="/Hotels">Hotels</a>
    <a href="/HotelRooms">Hotel Rooms</a>
    <a href="/Rooms">Rooms Types</a>
    <a href="/RoomAmenities">Room Amenities</a>
    <a href="/Amenities">Amenities</a>
</nav>
