body {
    background-color: slategrey;
    font-family: 'Marvel', sans-serif;
    color: orangered;
    text-align: center;
}

.banner {
    width: 100%;
    height: 450px;
    background-image: url("pic2.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    z-index: 1; 
    background-color: dimgrey;
}

.menu {
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu2 {
    display: flex;
    justify-content: center;
    text-align: center
}

.menu a {
    position: relative;
    top: -50px;
    border-radius: 0px 0px 15px 15px;
    padding: 20px 40px 35px;
    background-color: dimgrey;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    z-index: 0;
    color: dimgrey;
    transition: all 0.3s ease-out;
}

.menu2 a {
    padding: 10px;
    background-color: dimgrey;
    margin: 0 5px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: aliceblue;
}

.menu a:hover, .menu2 a:hover {
    background-color: orangered;
    top: 0px;
    color: aliceblue;
}

.arrow {
    color: aliceblue;
    font-weight: initial;
    position: absolute;
    bottom: 0px;
    opacity: 1;
    transition: opacity .5s;
}

.menu a:hover > .arrow {
    opacity: 0;
}

table {
    background-color: aliceblue;
    padding: 50px;
    margin: 0 auto;
}

th {
    padding: 5px 15px;
}

td {
    padding: 5px 15px;
}
